[Unit]
Description=Log sensor values to round robin database
DefaultDependencies=no
After=network.target

[Service]
ExecStart=/usr/bin/cfd_run_rrd.sh 
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

