[Unit]
Description=Log sensor values to round robin database
DefaultDependencies=no
After=network.target

[Service]
ExecStart=/usr/bin/run_rrd.sh 

[Install]
WantedBy=multi-user.target

