[Unit]
Description=Log sensor values to round robin database
DefaultDependencies=no
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash $HOME/Software/rrdsensors/run_rrd.sh 
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

